{#
   /**
    * @file
    * Theme implementation to display a card in the blog list in the sidebar
    *
    * Available variables:
    * - none
    */
#}
<!-- Blog: Related Blogs: Global Footer -->
<div class="card-body">
  <h5 class="card-title">Special title treatment</h5>
  <p class="card-text">
     With supporting text below as a natural lead-in to additional content.
  </p>
  <div class="d-flex justify-content-center">
     <a href="/blog/list" class="btn btn-primary">See All Blogs</a>
  </div>
</div>
