{#
/**
 * @file
 * Theme partial to display the wide format news card content
 *
 * @see calling templates for available variables and hooks
 *
 */
#}

<div class="col">
    {{ fields.field_hero_image.content }}
</div>
<div class="col-12 col-sm-6 col-lg-9">
  <div class="card-body">
    <h4 class="card-title">{{ fields.field_page_title.content }}</h4>
	<div class="card-text">{{ fields.body.content }}</div>
    {{ include('@abrsd/components/_cta_button.html.twig', {
          'text': link_text,
          'url': link_url,
          'target': target,
          'extra_classes': 'mt-auto align-self-start'
    }) }}
  </div>
</div>
