<div class="floating-banner card position-absolute top-50 start-50 translate-middle">
  <h5 class="card-header">{{ title }}</h5>
  <div class="card-body">
    <div class="card-text">
      {{ body }}
    </div>
    <a href="{{ url_link }}" class="btn btn-primary">{{ url_title }}</a>
  </div>
</div>
