{#
/**
 * @file
 * Theme partial to display the footer branding
 *
 * @see calling templates for available variables and hooks
 *
 */
#}
<div class="d-flex justify-content-center footer-branding">
   <span>Copyright &copy;&nbsp; {{ "now"|date("\\2\\0\\2\\2 \\- Y \\| ") }} {{ 'Anti-Black Racism and Systemic Discrimination Peel.'|t }}</span>
   &nbsp;
   <span>{{ 'All rights reserved.'|t }}</span>
</div>