<div class="d-flex justify-content-center footer-branding">
   <span>Copyright &copy; {{ "now"|date("Y") }} {{ 'Anti-Black Racism and Systemic Discrimination Peel.'|t }}</span>
   &nbsp;
   <span>{{ 'All rights reserved.'|t }}</span>
</div>