<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#submissionInfo">
  Static
</button>

<!-- Modal -->
<div class="modal fade" id="submissionInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="submissionInfoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column">
   	    <img
           src="{{ base_path ~ directory }}/logo-black.svg"
           alt="{{ 'Logo'|t }}"
           class="img-fluid d-inline-block align-top"
           style="max-width: 15rem;"
        />
        <h1 class="modal-title fs-5" id="submissionMsgLabel">Thank you!</h1>
      </div>
      <div class="modal-body">
        Processing your submission...
      </div>
    </div>
  </div>
</div>