{#
/**
 * @file
 * Theme partial to display a floating banner.
 *
 * @see calling templates for available variables and hooks
 *
 */
 #}

{# Set up variables #}
{% set url_title = url_title ? url_title : 'Read More'|t %}

<div id="main-intro" class="card floating-banner position-absolute top-50 start-50 translate-middle p-xl-3">
	<div class="card-body d-flex flex-column justify-content-center">
		<h4 class="title">{{ title }}</h4>
		<div class="card-text">
			{{ body }}
		</div>
		{% if url_link is not empty %}
		  <a href="{{ url_link }}" class="btn btn-primary mt-auto align-self-start">{{ url_title }}</a>
		{% endif %}
	</div>
</div>
