{#
 * @file
 * Default theme implementation to display a user picture.
 *
 * Available variables:
 * - user_picture: A user picture render array.
 * - author: The user name.
 * - has_picture: A flag indicating whether the user has a picture.
#}

{% if has_picture %}
    <div class="user-picture {{ additional_classes }}">
        {{ user_picture }}
    </div>
{% else %}
    <div class="user-initials {{ additional_classes }} justify-content-center">
        {% set initial = author|striptags|trim|raw|upper[0:1] %}
        <span class="align-self-center">{{ initial }}</span>
    </div>
{% endif %}
