{#
/**
 * @file
 * Theme partial to display the wide format news card content
 *
 * @see calling templates for available variables and hooks
 *
 */
#}

<li{{item.attributes.addClass(classes)}}>
    {{ link(item.title, item.url, {'class': link_classes}) }}
    {% if item.below %}
        {{ menus.menu_links(item.below, attributes, menu_level + 1, is_logged_in) }}
    {% endif %}
</li>
