// MOBILE NAV STYLES
@mixin offcanvas-background {
  background-color: $menu-background !important;
  opacity: 0.9 !important;
}

@mixin mobile-top-margin-first-layout-div {
  @include media-breakpoint-down(md) {
    margin-top: 14rem !important;
  }
}
