// MOBILE NAV STYLES
@mixin offcanvas-background {
  background-color: $menu-background !important;
  opacity: 0.9 !important;
}

@mixin mobile-top-margin-first-layout-div($mt: 14rem) {
  @include media-breakpoint-down(md) {
    margin-top: $mt !important;
  }
}

@mixin wide-mobile-top-margin-first-layout-div($mt: 6rem) {
  @include media-breakpoint-down(lg) {
    margin-top: $mt !important;
  }
}

@mixin link-theme-1 {
  color: $black;
  font-weight: $font-weight-bold;
  border-bottom: 2px solid $black;
  border-bottom-color: $accent-shade;
  &:hover {
    border-bottom: none;
    color: $black;
  }
}

@mixin jtc-styles {
  width: 10rem;
  line-height: 1.05rem;
  font-size: 1.1rem;
}
