// MOBILE NAV STYLES
@mixin offcanvas-background {
  background-color: $menu-background !important;
  opacity: 0.9 !important;
}

@mixin mobile-top-margin-first-layout-div($mt: 14rem) {
  @include media-breakpoint-down(md) {
    margin-top: $mt !important;
  }
}

@mixin wide-mobile-top-margin-first-layout-div($mt: 6rem) {
  @include media-breakpoint-down(lg) {
    margin-top: $mt !important;
  }
}
