/* VARIABLES */
// Barrio variables
// @see: https://www.drupal.org/project/bootstrap_barrio/issues/3350493
$barrio_path_images: "../images/" !default;

// colors
$primary-shade: rgb(29, 177, 176);
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: rgb(255, 188, 45);
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
$secondary-shade: rgb(14, 78, 171);
// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$white: #fff;
$black: #000;
$gray-100: #f8f9fa;
$gray-800: #343a40;
$hot-pink: #ff0068;
$icon-foreground: rgb(247, 111, 44);
$comment-time-text: #68696b;

$theme-colors: (
  primary: $accent-shade,
  secondary: $primary-shade,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
);
$brand-primary: $accent-shade;
//$brand-success: $green;
//$brand-info: $teal;
//$brand-warning: $orange;
//$brand-danger: $red;
$brand-inverse: $primary-shade;
$card-background: #f7f7f7;
// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
// Links
// Style anchor elements.
$link-color: $secondary-shade;
$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: underline;
$link-hover-error-page: var(--bs-link-hover-color);

$focus-ring-border-style: var(--bs-border-style) !default;
$focus-ring-border-color: var(--bs-border-color) !default;
$focus-ring-border-width: var(--bs-border-width) !default;

$focus-ring-border-color: darken(#dee2e6, 12%);
$focus-ring-text-color: lighten($black, 37%);
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;
// Breadcrumbs (Works only on Bootstrap 5+)
// $breadcrumb-divider: quote(">");

// Backgrounds (Alt)
$alt-background-teal: rgb(4, 175, 175);
$alt-background-card-footer: rgb(233, 231, 231);

// Menu
$menu-background: $black;
$menu-social-icons: $alt-background-teal;

// Tags
// $tag-text: darken($primary-shade, 12%);
$tag-text: $black;

// Breadcrumb separator symbol
$breadcrumb-divider: quote(">");

// Value for #main-wrapper top margin (for fixed header) and nav height
$nav-height: 5.5rem;

// Comments
$avatar-radius: 10px;
$avatar-size: 3rem;