{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 * Custom variables:
 * - nid: The id of the current node
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
      'card',
      'sidebar-roll',
      'border-0',
      'shadow',
    ]
  %}
  {# If the iteraction count is 1 print the CTA card #}
  {% if loop.index == 1 %}
    {% set row_classes_cta = row_classes|filter(class => class not in ['sidebar-roll', 'border-0'])|merge(['bg-light']) %}
    {% set cta_attr = create_attribute() %}
    <div{{ cta_attr.addClass(row_classes_cta) }}>
      {% include "@abrsd/partials/_blog_list_sidebar_top_card.html.twig" %}
    </div>
  {% endif %}
  {# Exclude the current node by id #}
  {% if row.content['#row']._entity.id() != nid %}
    <div{{ row.attributes.addClass(row_classes) }}>
     {{ row.content }}
    </div>
  {% endif %}
{% endfor %}
