{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{# Set up variables to be used #}
{% set term = fields.name.content|striptags|trim|raw|clean_class %}
{% set label = fields.name.content|striptags|trim|raw %}
{% set tid = fields.tid.content|striptags|trim|raw %}
{# Link #}
{% set url = fields.field_member_link.content|striptags|trim|raw %}
{% set link_text = fields.field_member_link_1.content|striptags|trim|raw %}
{% if url %}
    {% if url starts with 'entity:node' %}
        {% set nid = url|split('/')[1] %}
        {% set url = path('entity.node.canonical', {'node': nid} ) %}
    {% elseif url starts with 'internal:/' %}
        {% set url = '/' ~ url|split(':/')[1] %}
    {% elseif  url starts with 'route:' %}
        {% set url = '' %}
    {% endif %}
{% else %}
    {% set url = '#' %}
{% endif %}

<li class="row px-3 member-list">
  <dir class="d-none d-lg-block col-lg-3"></dir>
  <div class="col col-lg-9">
  {% if url %}
     <a target="_blank" href="{{ url }}">
  {% endif %}
      {{ link_text }}
  {% if url %}
     </a>
  {% endif %}
  </div>
</li>
