{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{# Set up variables to be used #}
{% set link_url = fields.field_workshop_link.content|striptags|trim|raw %}
{% set self_link_url = path('entity.node.canonical', {'node': fields.nid.content|striptags|trim|raw }) %}
{% set link_text = fields.field_workshop_link_1.content|striptags|trim|raw %}
{% set link_text = link_text %}
{% set target = 'http' in link_url ? '_blank' : '_self' %}

{% set link_url = link_url ? link_url : self_link_url %}

<div class="card mb-3">
  <div class="card-body d-flex flex-column justify-content-between">
    {% if fields.field_committee.content is not empty %}
       <h5 class="card-title card-tag h6 text-uppercase fw-bold">{{ fields.field_committee.content }}</h5>
    {% endif %}
    <h5 class="card-title">{{ fields.field_page_title.content }}</h5>
    <div class="card-text">{{ fields.body.content }}</div>
    {# bof: Include the scheduling data #}
    {% include "@abrsd/partials/_event-schedule-type.html.twig" %}
    {# eof: Include the scheduling data #}
    {{ include('@abrsd/components/_cta_button.html.twig', {
      'text': link_text,
      'url': link_url,
      'target': target,
      'extra_classes': 'mt-auto align-self-start'
    }) }}
  </div>
</div>
