.block-system-breadcrumb-block {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 0.8rem;
  @include media-breakpoint-down(lg) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.page--news-list,
.page--resources-news-categories,
.page--about-us,
.node--type-blog {
  @include media-breakpoint-up(lg) {
    .block-system-breadcrumb-block {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}

.page--contact-us {
  @include media-breakpoint-up(lg) {
    .block-system-breadcrumb-block {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}

.page--get-involved {
  .breadcrumb {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
  }
}
