.user-initials {
  background-color: rgba(10, 10, 10, 0.9);
  color: $white;
  font-size: 2.5rem;
  border-radius: $avatar-radius;
  width: $avatar-size;
  height: $avatar-size;
  // At lg down, reduce the font size
  @include media-breakpoint-down(lg) {
    font-size: 2rem;
    width: calc($avatar-size - 1rem);
    height: calc($avatar-size - 1rem);
  }
}

.user-picture {
  img {
    border-radius: $avatar-radius;
    width: $avatar-size;
    height: $avatar-size;
    // margin-left: 3rem !important;
    // At lg down, reduce the font size
    @include media-breakpoint-down(lg) {
      width: calc($avatar-size - 2rem);
      height: calc($avatar-size - 2rem);
    }
  }
}

.field--name-field-blog-comment {
  border-top: 2px solid rgb(222, 218, 218);
  .comment {
    margin-bottom: 0;
  }
  .comment__meta {
    padding: 1.875rem 0.175rem 0 0;
    width: 5rem;
  }
  .comment__content {
    border: none;
    &:before {
      content: none !important;
      border: none !important;
    }
    &:after {
      content: none !important;
      border: none !important;
    }
  }
  p {
    font-size: 0.8rem;
  }
}

.comment-forbidden {
  color: $black;
  padding-left: 0;
  &:hover {
    color: $comment-time-text !important;
  }
  a {
    @include link-theme-1();
  }
}

.comment-add {
  a {
    @include link-theme-1();
  }
}

.comment-time-permalink {
  margin-top: -3rem;
}

.comment-content-links {
  .card-title {
    margin-top: 0.04rem !important;
  }
  .comment__author {
    font-size: 0.9rem;
  }
}
