// COMMENTS STYLES
.user-initials {
  background-color: rgba(10, 10, 10, 0.9);
  color: $white;
  font-size: 2.5rem;
  border-radius: $avatar-radius;
  width: $avatar-size;
  height: $avatar-size;
  // At lg down, reduce the font size
  @include media-breakpoint-down(lg) {
    font-size: 2rem;
    width: $avatar-size - 1rem;
    height: $avatar-size - 1rem;
  }
}

.user-picture {
  img {
    border-radius: $avatar-radius;
    width: $avatar-size;
    height: $avatar-size;
    // margin-left: 3rem !important;
    // At lg down, reduce the font size
    @include media-breakpoint-down(lg) {
      width: $avatar-size - 1rem;
      height: $avatar-size - 1rem;
    }
  }
}

.field--name-field-blog-comment {
  border-top: 2px solid rgb(222, 218, 218);
  .comment {
    margin-bottom: 0;
  }
  .comment__meta {
    padding: 1.875rem 0.175rem 0 0;
    width: $avatar-size;
  }
  .comment__content {
    border: none;
    &:before {
      content: none !important;
      border: none !important;
    }
    &:after {
      content: none !important;
      border: none !important;
    }
  }
  .blog-comment-cta {
    display: none !important;
  }
  p {
    font-size: 0.9rem;
  }
}

.comment-forbidden {
  color: $black;
  padding-left: 0;
  &:hover {
    color: $comment-time-text !important;
  }
  a {
    @include link-theme-1();
  }
}

.comment-add,
.comment-comments {
  a {
    @include link-theme-1();
  }
}

// Adjust the margin-top of the comment-time-permalink (Must preceed the user-logged-in style)
.comment-time-permalink {
  margin-top: -3rem;
}

// If the user is logged in, adjust the margin-top of the comment-time-permalink
.user-logged-in {
  .comment-time-permalink {
    margin-top: -1rem;
  }
}

.comment-content-links {
  .card-title {
    margin-top: 0.04rem !important;
  }
  .comment__author {
    font-size: 0.9rem;
  }
}

body:not(.user-logged-in) {
  .comment-content-links {
    .inline__links {
      display: none !important;
    }
  }
}

.comment-content-links {
  .inline__links {
    font-size: 0.8rem;
  }
}

.indented {
  margin-left: 0.8rem !important;
  /* LTR */
}

[dir="rtl"] .indented {
  margin-right: 0.8rem !important;
  margin-left: 0;
}

.filter-guidelines-item {
  .tips {
    font-size: 0.8rem;
  }
}

.user-initial {
  &:hover {
    text-decoration: none;
  }
}
