/* BUTTON */
.text-link {
  color: $link-color;
  text-decoration: underline;
}

// CARD BUTTONS
.card-body {
  .btn {
    padding: 0.5rem 2rem;
    font-size: small;
    font-weight: bold;
  }
  .card-text {
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
  }
  .card-tag {
    color: $primary-shade;
  }
}

// BANNER
.floating-banner {
  top: 90% !important;
  width: 90% !important;
}

