/* BUTTON */
.text-link {
  color: $link-color;
  text-decoration: underline;
}

// CARD BUTTONS
.card-body {
  .btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
  }
  .card-text {
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    margin-bottom: 0.5rem;
  }
  .card-tag {
    color: $tag-text;
  }
}

// CARD WORKING GROUPS
.card-working-group {
  .btn {
    @include media-breakpoint-down(lg) {
      align-self: center !important;
    }
  }
}

// BANNER
.floating-banner {
  top: 90% !important;
  width: 90% !important;
  @include media-breakpoint-down(lg) {
    top: 95% !important;
    padding-bottom: 0.25rem !important;
  }
  @include media-breakpoint-down(sm) {
    top: 100% !important;
    padding-bottom: 0.25rem !important;
  }
  overflow: hidden;
}

// CARD MEMBER LIST
.card {
  &.member-list-item {
    font-size: 0.8rem;
    p {
      margin-bottom: 0.1rem;
    }
    a {
      color: $link-color;
      text-decoration: underline;
    }
  }
  &.news-topic-card {
    height: 250px;
    img {
      height: 150px;
      width: 150px;
      object-fit: cover;
    }
  }
  &.news-topic-card {
    text-decoration: none;
  }
  a {
    color: $black !important;
    text-decoration: none !important;
    &:visited {
      color: $black !important;
    }
  }
}

// MEMBER LIST
.member-list {
  a {
    color: $link-color;
    text-decoration: underline;
  }
}

// CARD NEWS
.news-topic-footer {
  h5 {
    color: $black !important;
  }
  a {
    background: $alt-background-card-footer !important;
  }
}

// NEWS LIST ITEM
.views-row {
  .list-group {
    margin-bottom: 1.5px;
  }
}

// FULL VIEW WORKSHOP
.schedule {
  .data-text {
    font-weight: bold;
  }
  @include media-breakpoint-down(md) {
    .data-icon {
      text-align: center;
    }
    .data-text {
      font-size: 0.8rem;
    }
  }
}

.schedule-clock,
.schedule-compass {
  .data-icon {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0.1rem !important;
    }
  }
}

// BADGES
.badge {
  background-color: $accent-shade !important;
  color: $black;
}

// EMAIL SIGNUP
.email-general-inquiries {
  a {
    color: $black;
    &:hover {
      color: $black;
      // border-bottom: 1px solid $link-color;
    }
  }
}

// LOGO BACKGROUND
.logo-background {
  background-color: $black;
  svg {
    height: 6rem;
  }
}

.oops {
  font-size: 6rem;
  font-weight: bold;
  color: $black;
}

.reco-title {
  color: $black;
}

.reco-url {
  color: $link-hover-error-page;
  text-decoration: underline;
  @include media-breakpoint-down(md) {
    width: 100% !important;
  }
}

.external-link {
  svg {
    vertical-align: text-top !important;
  }
}

.field--name-body,
.breadcrumb-item {
  a {
    @include link-theme-1();
  }
}

.password-reset-link {
  @include link-theme-1();
}

.breadcrumb {
  .active {
    padding-top: 2px;
  }
}

.user-pass-message,
.webform-element-description {
  a {
    @include link-theme-1();
  }
}

.tag {
  color: $tag-text;
}

.page--resources-reports {
  .field--name-field-hero-image {
    background-color: $hot-pink;
    // Set height of the image to 7rem on mobile
    @include media-breakpoint-down(md) {
      img[src$=".svg"] {
        height: 7rem;
      }
    }
  }
}

// Select body element by attribute value (e.e. class like 'page--our-work-committees') and
// select the field--name-field-hero-image element within it, then apply the border-radius to 5px
body[class*="page--our-work-committees-"] {
  .field--name-field-hero-image {
    img {
      border-radius: 5px;
    }
  }
}

.page--resources-reports {
  .field--name-field-hero-image {
    border-radius: 5px;
  }
}

#edit-comment-body-0-format-help {
  display: none;
}

.form-submit::before {
  height: 0 !important;
  width: 0 !important;
}

#profile-picture-display {
  img {
    border-radius: 0.5rem;
  }
}

.field--name-field-content-reference {
  .field--name-body {
    font-size: 0.9rem;
  }
}
