/* BUTTON */
.text-link {
  color: $link-color;
  text-decoration: underline;
}

// CARD BUTTONS
.card-body {
  .btn {
    padding: 0.5rem 2rem;
    font-size: small;
    font-weight: bold;
  }
  .card-text {
    font-size: $font-size-base;
    font-weight: $font-weight-medium;
    margin-bottom: 0.5rem;
  }
  .card-tag {
    color: $tag-text;
  }
}

// CARD WORKING GROUPS
.card-working-group {
  .btn {
    @include media-breakpoint-down(lg) {
      align-self: center !important;
    }
  }
}

// BANNER
.floating-banner {
  top: 90% !important;
  width: 90% !important;
  @include media-breakpoint-down(lg) {
    top: 95% !important;
    padding-bottom: 0.25rem !important;
  }
  @include media-breakpoint-down(sm) {
    top: 100% !important;
    padding-bottom: 0.25rem !important;
  }
  overflow: hidden;
}

// CARD MEMBER LIST
.card {
  &.member-list-item {
    font-size: 0.8rem;
    p {
      margin-bottom: 0.1rem;
    }
    a {
      color: $link-color;
      text-decoration: underline;
    }
  }
  &.news-topic-card {
    height: 250px;
    img {
      height: 150px;
      width: 150px;
      object-fit: cover;
    }
  }
  &.news-topic-card {
    text-decoration: none;
  }
  a {
    color: $black !important;
    text-decoration: none !important;
    &:visited {
      color: $black !important;
    }
  }
}

// MEMBER LIST
.member-list {
  a {
    color: $link-color;
    text-decoration: underline;
  }
}

// CARD NEWS
.news-topic-footer {
  h5 {
    color: $black !important;
  }
  a {
    background: $alt-background-card-footer !important;
  }
}

// FULL VIEW WORKSHOP
.schedule {
  .data-text {
    font-weight: bold;
  }
  @include media-breakpoint-down(md) {
    .data-icon {
      text-align: center;
    }
    .data-text {
      font-size: 0.8rem;
    }
  }
}

.schedule-clock,
.schedule-compass {
  .data-icon {
    @include media-breakpoint-down(sm) {
      margin-bottom: 0.1rem !important;
    }
  }
}

// BADGES
.badge {
  background-color: $accent-shade !important;
  color: $black;
}

// EMAIL SIGNUP
.email-general-inquiries {
  a {
    color: $black;
    &:hover {
      color: $black;
      // border-bottom: 1px solid $link-color;
    }
  }
}

// LOGO BACKGROUND
.logo-background {
  background-color: $black;
  svg {
    height: 6rem;
  }
}

.oops {
  font-size: 6rem;
  font-weight: bold;
  color: $black;
}

.reco-title {
  color: $black;
}

.reco-url {
  color: $link-hover-error-page;
  text-decoration: underline;
  @include media-breakpoint-down(md) {
    width: 100% !important;
  }
}

.external-link {
  svg {
    vertical-align: text-top !important;
  }
}

.field--name-body, .breadcrumb-item {
  a {
    color: $black;
    font-weight: $font-weight-bold;
    border-bottom: 2px solid $black;
    border-bottom-color: $accent-shade;
    &:hover {
      border-bottom: none;
    }
  }
}
