// LAYOUT STYLES
.layout--onecol {
  &.footer--onecol {
    background: $menu-background !important;
  }
}

.site-footer {
  background: $menu-background !important;
  padding-top: 0 !important;
  a {
    color: $white;
  }
}

.layout--onecol {
  &.latest-news,
  &.toolkits {
    background: $alt-background-teal;
  }
}

// HERO IMAGE STYLES FOR HOMEPAGE ONLY. THIS IS DUE TO MISSING BREADCRUMB BLOCK
// MAY BE REQURED IF WE RE-ENABLE THE BREADCRUMB BLOCK
// .path-frontpage {
//   .abrsd--header-image {
//     padding-top: 5.5rem !important;
//   }
// }

.our-work {
  .latest-news {
    background-color: $white;
    h3.section-title {
      display: none;
    }
  }
}

// SITE FOOTER CTA BACKGORUND COLOR
// .site-footer {
//   .latest-news {
//     background: $alt-background-teal !important;
//   }
// }

// GET INVOLVED
.get-involved {
  .toolkits {
    @include media-breakpoint-up(lg) {
      padding-left: 6rem !important;
      padding-right: 6rem !important;
    }
  }
}

.layout__region--content {
  @include media-breakpoint-down(md) {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
}

.abrsd--header-image {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  // bof: Display a thin white border around the image
  margin-top: 0 !important;
  margin-bottom: 3.5rem !important;
  // eof: Display a thin white border around the image
  // Add border top per design requirements
  // border-top: 0.5rem solid $white;
  @include media-breakpoint-down(md) {
    margin-bottom: 7rem !important;
  }
  .field--name-body {
    font-weight: $font-weight-medium;
  }
}

// SECTION STYLES
.section-title-latest-news,
.section-title-toolkit {
  color: $black; // was white but fails WCAG AA
}

.section-title-workshops,
.section-title-partners {
  color: $black;
}

// ARTICLE STYLES
.node--full-secondary {
  @include media-breakpoint-up(lg) {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
  }
  @include media-breakpoint-down(md) {
    .feature-image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// GENERAL LAYOUT STYLES
// THIS NEEDS TO BE DONE PER PAGE
.page--home,
.page--our-work,
.page--resources,
.page--get-involved {
  .node__content {
    .layout:nth-child(2) {
      @include wide-mobile-top-margin-first-layout-div();
      @include mobile-top-margin-first-layout-div();
    }
  }
}

// LIVE
.page--get-involved {
  .node__content {
    .layout:nth-child(2) {
      @include wide-mobile-top-margin-first-layout-div();
      @include mobile-top-margin-first-layout-div(10rem);
    }
  }
}

// LIVE
// OUR WORK
.page--our-work {
  .node__content {
    .layout:nth-child(2) {
      @include wide-mobile-top-margin-first-layout-div();
      @include mobile-top-margin-first-layout-div(17rem);
    }
  }
}

// GET INVOLVED
.page--get-involved {
  .node__content {
    .layout:nth-child(2) {
      @include wide-mobile-top-margin-first-layout-div(8rem);
      @include mobile-top-margin-first-layout-div(14rem);
    }
  }
}

// REPORTS
.page--reports {
  .field--name-field-hero-image {
    background-color: #ff0068;
    img[src$=".svg"] {
      height: 10rem;
    }
  }
}
