// HEADER AND NAV STYLES
#header,
.navbar-nav {
  background-color: $menu-background !important;
  .nav-item {
    margin-left: 1.5rem;
  }
  @include media-breakpoint-down(lg) {
    li:has(a.last-item) {
      margin-left: 0;
    }
  }
}

// HEADER STYLES - The affix library declaration in the bootstrap_barrio.libraries.yml file
// was broken. The core/once dependency was not being loaded.
// History:
// 1: This rule was re-enabled for 5.5.13 due to a javascript bug in affix.js
// 2: This rule was disabled again for 5.5.14 due to a fix for the javascript bug in affix.js
// #main-wrapper {
//   margin-top: $nav-height;
// }

/* FOOTER MENU */
.menu--footer {
  color: $white;
  h2 {
    font-size: medium;
    margin-bottom: 0.1rem;
  }
  a {
    padding: 0;
    font-size: small;
    color: white;
  }
}

.menu--footer-contact-us {
  h2 {
    padding-left: 0;
  }
}

.social-link {
  i {
    color: $white;
  }
}

.footer-branding {
  color: $white;
  font-size: small;
  padding-top: 1rem;
}

a.nav-link--::before {
  width: 0 !important;
  height: 0 !important;
}

// MAIN NAV STYLES
.menu--main li a {
  color: $primary-shade;
}

.menu--account li a {
  color: $primary-shade;
}

.site-name-slogan a {
  text-decoration: none;
}

#navbar-main {
  background-color: $menu-background !important;
  height: $nav-height;

  .navbar-brand img {
    transition: height 1s ease; // Add transition property
  }

  @include media-breakpoint-down(lg) {
    .navbar-brand img {
      margin-top: -0.5rem
    }
  }
  @include media-breakpoint-down(md) {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  &.affix {
    .navbar-brand img {
      height: 3.8rem;
      margin-top: 1.5rem;
      transition: height 1s ease; // Add transition property
    }

    @include media-breakpoint-down(lg) {
      .navbar-brand img {
        margin-top: 0.8rem
      }
    }
    @include media-breakpoint-down(md) {
      .navbar-brand img {
        height: 2.5rem;
      }
    }
  }
  // Add a height transition to the navbar-brand image
}

.nav-link:hover {
  color: $accent-shade !important;
}

.menu--main li a {
  color: $white;
  text-transform: uppercase !important;
}

.site-name-line-1 {
  font-weight: 800;
}

.site-name-line-2 {
  font-size: 1.5rem !important;
}

// NAV LINKS
.nav {
  .active:not(.last-item) {
    color: $accent-shade !important;
  }
  .last-item {
    color: $menu-background;
    &.active,
    &:hover {
      color: $menu-background !important;
    }
  }
  @include media-breakpoint-down(md) {
    li:has(a.last-item) {
      margin-top: 1rem;
    }
  }
}

// DROPDOWN MENU STYLES
.dropdown-menu {
  background-color: $black;
  .dropdown-item {
    &:hover,
    &:focus {
      background-color: $white;
      a {
        color: $black;
      }
    }
    .nav-link--home {
      text-decoration: none;
    }
    a {
      display: inline-block;
      height: 100%;
      width: 100%;
      &:hover {
        color: $black !important;
        text-decoration: none;
      }
    }
  }
}

// NAV STYLES
.offcanvas {
  margin-bottom: 2rem;
}

// MOBILE NAV STYLES
.offcanvas-header {
  @include offcanvas-background;
  @include media-breakpoint-down(lg) {
    .btn-close {
      background-color: #f0e4d3;
      margin-right: 1rem;
    }
  }
}
// OFF CANVAS MENU
.offcanvas-body {
  // For off canvas menu at desktop breakpoint
  // Desltop nav is reversed so that the menu is on the right
  @include media-breakpoint-up(xl) {
    flex-direction: row-reverse !important;
  }
  // For off canvas menu at tablet (landscape orientation) breakpoint
  @include media-breakpoint-down(lg) {
    @include offcanvas-background;
    .last-item {
      text-align: left;
      width: fit-content;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  .navigation {
    @include media-breakpoint-down(md) {
      .nav-item {
        margin-left: 0 !important;
      }
    }
  }
}

// USER ACCESS
#navbar-top {
  background-color: $white !important;
  border-top: 3px solid $accent-shade;
  z-index: 1045;
  height: 1.5rem;
}

#block-abrsd-useraccess {
  margin-top: -0.7rem;

  .nav-item {
    margin-left: -1.9rem;
  }

  .nav-link {
    color: $black !important;
    a {
      font-size: 0.9rem;
    }
  }

  .nav-link--user-login::before {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16"%3E%3Cpath d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/%3E%3C/svg%3E') !important;
    position: relative;
    top: 3px;
  }

  // Add a | symbol after the a.nav-link--user-login element
  .nav-link--user-login::after {
    content: "|";
    margin: 0.4rem 0.5rem 0 0.5rem;
  }
}
