.node__content {
  font-size: $font-size-base;
  margin-top: calc($spacer / 2);
}

// Image caption text
.node__content figcaption {
  font-size: 0.9em; // Smaller font size
  color: #666; // Dark gray color
  margin-top: calc(($spacer / 2) * -1); // Half of the spacer above the caption
  margin-bottom: calc($spacer / 2); // Space below the caption
}

.blog-comment-heading {
  padding-left: 0 !important;
}

.sticky-title {
  font-size: 0.9rem;
  height: 1.7rem;
  padding: 0 4rem !important;
  z-index: 100 !important;
  // At large breakpoint down, the height of the sticky title is 2.5rem
  @include media-breakpoint-down(lg) {
    height: 2.5rem;
  }
}

.field--name-field-tag {
  a {
    @include link-theme-1();
  }
}
