.node__content {
    font-size: $font-size-base;
    margin-top: calc($spacer / 2);
}

// Image caption text
.node__content figcaption {
    font-size: 0.9em; // Smaller font size
    color: #666; // Dark gray color
    margin-top: calc(($spacer / 2) * -1); // Half of the spacer above the caption
    margin-bottom: calc($spacer / 2); // Space below the caption
}
