.node__content {
  font-size: $font-size-base;
  margin-top: calc($spacer / 2);
}

// Image caption text
.node__content figcaption {
  font-size: 0.9em; // Smaller font size
  color: #666; // Dark gray color
  margin-top: calc(($spacer / 2) * -1); // Half of the spacer above the caption
  margin-bottom: calc($spacer / 2); // Space below the caption
}

.blog-comment-heading {
  padding-left: 0 !important;
}

.sticky-title {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1rem;
  height: 1.7rem;
  padding: 0 4.5rem !important;
  z-index: 100 !important;
  // At large breakpoint down, the height of the sticky title is 2.5rem
  @include media-breakpoint-down(lg) {
    height: 2.5rem;
  }
  // At small breakpoint down, remove padding
  @include media-breakpoint-down(sm) {
    padding: 0 1.5rem !important;
  }
}

// Animate the sticky title when it is affixed to the top of the screen
.sticky-title {
  // transition: opacity 0.5s ease-in-out;
  opacity: 0;
  height: 0;
}

.sticky-title.reveal {
  transition: opacity 2s ease-in-out;
  height: 2rem;
  opacity: 1;
  @include media-breakpoint-down(sm) {
    height: 2.5rem;
  }
}


.field--name-field-tag {
  a {
    @include link-theme-1();
    // Display tag icon from the Bootstrap icon pacj before the tag text
    &:before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22currentColor%22%20class%3D%22bi%20bi-tag%22%20viewBox%3D%220%200%2016%2016%22%3E%0A%20%20%3Cpath%20d%3D%22M6%204.5a1.5%201.5%200%201%201-3%200%201.5%201.5%200%200%201%203%200m-1%200a.5.5%200%201%200-1%200%20.5.5%200%200%200%201%200%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M2%201h4.586a1%201%200%200%201%20.707.293l7%207a1%201%200%200%201%200%201.414l-4.586%204.586a1%201%200%200%201-1.414%200l-7-7A1%201%200%200%201%201%206.586V2a1%201%200%200%201%201-1m0%205.586%207%207L13.586%209l-7-7H2z%22%2F%3E%0A%3C%2Fsvg%3E');
      background-repeat: no-repeat;
      position: relative;
      top: 3px;
    }
  }
}
