// SOCIAL SHARING STYLES
.social-sharing-buttons {
  margin: 0.5rem 0;
  justify-content: start;
}

.social-sharing-buttons {
  .social-sharing-buttons__button {
    border: 2px $black solid;
    border-radius: 50%;
    outline: 2px solid $accent-shade;
    outline-offset: 2px;
    svg {
      width: 30px !important;
      height: 30px !important;
    }
  }
}
