// VIEWS
.view-workshop .card-body,
.view-resource-cards-grid-3 .card-body {
  background-color: $card-background;
}

.view-news {
  .col-text {
    background-color: $menu-background;
  }
  .card-body {
    color: $white;
  }
}

.view-workshop {
  &.view-display-id-block_2 {
    i.fas {
      color: $icon-foreground !important;
      font-size: 1.4rem;
    }
  }
}
