// VIEWS
.view-workshop .card-body,
.view-resource-cards-grid-3 .card-body {
  background-color: $card-background;
}

.view-resource-cards-grid-3 {
  @include media-breakpoint-down(lg) {
    .card-body {
      padding-left: 0.75rem !important;
      padding-right: 0.75rem !important;
    }
  }
}

.view-news {
  .col-text {
    background-color: $menu-background;
  }
  .card-body {
    color: $white;
  }
  &.view-display-id-block_3 {
    a {
      color: $black;
    }
  }
}

.view-workshop {
  &.view-display-id-block_2 {
    i.fas {
      color: $icon-foreground !important;
      font-size: 1.4rem;
    }
  }
}

// .view-report,
// .view-toolkit {
.view-report {
  h3.section-title {
    color: $black;
  }
}

.view-member-list {
  &.view-display-id-block_2 {
    .list-group {
      @include media-breakpoint-down(sm) {
        font-size: 0.8rem !important;
        padding-left: 0.7rem !important;
      }
    }
  }
  &.view-display-id-block_1 {
    .list-group {
      @include media-breakpoint-down(sm) {
        font-size: 0.8rem !important;
      }
    }
  }
}

.resources {
  // EVENTS
  .view-id-workshop {
    h3.section-title,
    .card-body {
      color: $black;
    }
  }

  // SUBCOMMITTEES CONTAINER
  .layout--onecol:has(.view-id-news_topics),
  .layout--onecol:has(.view-subcommittees) {
    background-color: $white;
    h3.section-title {
      color: $black;
    }
    padding-bottom: 0 !important;
  }

  // SUBCOMMITTEES
  .view-id-news_topics {
    background-color: $white;
    padding-top: 0 !important;
    padding-bottom: 3rem !important;
    .card-body {
      color: $white;
    }
  }

  // LATEST NEWS CONTAINER
  .layout--onecol:nth-child(4) {
    padding-bottom: 3rem !important;
  }

  .view {
    @include media-breakpoint-up(xl) {
      padding-left: 5rem !important;
      padding-right: 5rem !important;
    }
  }
}

.strat-plan-bkgrnd {
  .our-work-list-svg {
    background-color: #ff6721;
  }
}

.toolkit-bkgrnd {
  .our-work-list-svg {
    background-color: #04b1b1;
  }
}

.reports-bkgrnd {
  .our-work-list-svg {
    background-color: $hot-pink;
  }
}

.related-committees {
  background-color: $accent-shade;
}

// WORKSHOPS/OTHER EVENTS
.views-row {
  &.is-active {
    .btn {
      visibility: hidden;
    }
    /**
     * Adds a box shadow to the card element.
     */
    .card {
      box-shadow: 0 0 0 0.2rem rgba(255, 188, 45, 0.25);
    }
  }
}

.blog-carousel {
  .carousel-cell {
    width: 18rem;
    margin-right: 6px;
    img {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
  }
}
