.webform-submission-user-profile-form {
  label {
    color: #6c757d !important;
    font-size: 0.9rem;
  }

  .form-control,
  .text-count-wrapper,
  summary {
    font-size: 0.9rem;
  }

  summary {
    color: #ff0000;
  }

  #edit-actions-submit,
  #edit-profile-picture-remove-button {
    font-weight: 700;
  }
}

#user-pass {
  label,
  p {
    font-size: 0.9rem;
  }

  #edit-submit {
    font-weight: 700;
  }

  .form-item-name {
    label {
      &::before,
      &::after {
        position: relative;
        top: 0.2rem;
      }
    }
  }
}
